@font-face {
  font-family: "Exo";
  src: url(../font/Exo-Regular.ttf);
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Exo", sans-serif;
  position: relative;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  width: 100dvw;
  height: 100dvh;
  background: url(./images/noise.png), #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  max-width: 1240px;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.15), 0.6rem 0.6rem 4rem rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(9.8px);
}

.hangman {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.hangman__img--wrapper {
  width: clamp(19rem, 40vw, 28rem);
  height: clamp(19rem, 40vw, 28rem);
  border: 1px solid black;
  box-shadow: -1px -1px 0px rgba(255, 255, 255, 0.2), 1px 1px 10px #000000;
  position: relative;
  user-select: none;
}
.hangman__img--wrapper img {
  position: absolute;
}
.hangman__img--wrapper .img1 {
  height: 100%;
}
.hangman__img--wrapper .img3 {
  height: 15%;
  left: 50%;
  top: 5%;
}
.hangman__img--wrapper .head, .hangman__img--wrapper .body, .hangman__img--wrapper .left-hand, .hangman__img--wrapper .right-hand, .hangman__img--wrapper .left-leg, .hangman__img--wrapper .right-leg {
  width: 60%;
  top: 12%;
  left: 20%;
  opacity: 0;
  transition: all 0.2 ease-in-out;
}
.hangman__img--wrapper .head.open, .hangman__img--wrapper .body.open, .hangman__img--wrapper .left-hand.open, .hangman__img--wrapper .right-hand.open, .hangman__img--wrapper .left-leg.open, .hangman__img--wrapper .right-leg.open {
  opacity: 1;
}

h1 {
  margin: 0;
  font-size: clamp(1rem, 3vw, 2rem);
  text-shadow: 2px 2px 0px #000000, 4px 4px 0.3rem rgba(255, 255, 255, 0.5);
  letter-spacing: 0.3rem;
  line-height: 200%;
}

h1::selection {
  background-color: #46727D;
}

.control {
  flex: 1;
  min-width: 24.5rem;
  padding: clamp(0.5rem, 2vw, 1rem);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 1px solid #000000;
  box-shadow: -1px -1px 0px rgba(255, 255, 255, 0.2), 1px 1px 10px #000000;
}

.control__question {
  text-align: center;
  text-shadow: 1px 1px 0px #000000;
  font-size: clamp(1rem, 2vw, 1.5rem);
  letter-spacing: 0.1rem;
  line-height: 150%;
  padding: clamp(0.5rem, 2vw, 1rem);
  border: 1px solid #000000;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.control__question::selection {
  background-color: #46727D;
}

.control__answer {
  padding: clamp(0.5rem, 2vw, 1rem);
  border: 1px solid #000000;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  user-select: none;
}

.answer__letter-box {
  width: clamp(1rem, 2vw, 1.8rem);
  height: clamp(1rem, 2vw, 1.8rem);
  border-bottom: 2px solid #46727D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.2rem, 3vw, 2rem);
}

.answer__letter-box.guess {
  border-bottom: none;
}

.control__keyboard {
  padding: clamp(0.2rem, 1vw, 1rem);
  border-radius: 0.5rem;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: clamp(1.2rem, 3vw, 2rem);
  text-shadow: 1px 1px 0px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(0.2rem, 1vw, 0.5rem);
  user-select: none;
}

.keyboard__button {
  width: clamp(2.4rem, 4vw, 3.5rem);
  height: clamp(2.4rem, 4vw, 3.5rem);
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.keyboard__button.guess {
  border-radius: 50%;
  border: 2px solid rgb(70, 114, 125);
  color: rgb(70, 114, 125);
}

.keyboard__button.false-guess {
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.25);
  cursor: auto;
}

.control__incorrect-counter {
  padding: 0.6rem;
  margin: 0;
  color: rgb(70, 114, 125);
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
  font-weight: 600;
  font-size: clamp(0.7rem, 2vw, 1.1rem);
}

.control__incorrect-counter::selection {
  background-color: #46727D;
  color: #000000;
}

.control__incorrect-counter span {
  font-size: clamp(0.6rem, 2vw, 1.1rem);
}

.control__incorrect-counter span::selection {
  background-color: #46727D;
}

.modal__background {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(70, 114, 125, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(0.15rem);
  -webkit-backdrop-filter: blur(4px);
}

.modal__background.open {
  opacity: 0;
  visibility: visible;
  animation: opacity 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal__wrapper {
  width: clamp(12rem, 90dvw, 37rem);
  height: clamp(12rem, 90dvh, 28rem);
  background: url(../images/noise.png), #000000;
  font-size: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(255, 255, 255, 0.25), 0.3rem 0.3rem 1.5rem rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.modal__border {
  width: 96%;
  height: 95%;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.modal__game-result {
  margin: 0;
  color: #CE5C5C;
  font-size: clamp(1.6rem, 5vw, 2.5rem);
  letter-spacing: 0.1rem;
  text-align: center;
}

.modal__game-result::selection {
  background-color: #46727D;
}

.modal__answer {
  color: #ffffff;
  font-size: clamp(1.6rem, 5vw, 2rem);
  letter-spacing: 0.1rem;
}

.modal__answer::before {
  content: "answer: ";
  color: #46727d;
  font-size: clamp(1.6rem, 5vw, 2rem);
}

.modal__answer::selection {
  background-color: #46727D;
}

.modal__play-again-btn {
  background-color: rgba(70, 114, 125, 0.5);
  color: #ffffff;
  font-size: clamp(1.2rem, 5vw, 2rem);
  padding: 1rem 1.5rem;
  transition: all 0.2s linear;
  letter-spacing: 0.15rem;
}

@media screen and (hover: hover) {
  .keyboard__button:not(.guess, .false-guess):hover {
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgb(70, 114, 125);
  }
  .modal__play-again-btn:hover {
    cursor: pointer;
    background-color: rgba(70, 114, 125, 0.25);
  }
}
@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }
  h1 {
    text-shadow: none;
  }
  .hangman__img--wrapper {
    width: clamp(10rem, 40vw, 18.75rem);
    height: clamp(10rem, 40vw, 18.75rem);
  }
  .control {
    min-width: 300px;
  }
}
@media screen and (max-width: 576px) {
  .main {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
  }
  .modal__wrapper {
    box-shadow: none;
  }
}
@media screen and (max-height: 600px) {
  body {
    align-items: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */
