.hangman {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.hangman__img--wrapper {
  width: clamp(19rem, 40vw, 28rem);
  height: clamp(19rem,40vw, 28rem);

  border: 1px solid black;
  box-shadow: -1px -1px 0px rgba(255, 255, 255, 0.2), 1px 1px 10px #000000;

  position: relative;

  & img {
    position: absolute;
  }

  & .img1 {
    height: 100%;
  }

  & .img3 {
    height: 15%;
    left: 50%;
    top: 5%;
  }

  & .head,
  & .body,
  & .left-hand,
  & .right-hand,
  & .left-leg,
  & .right-leg {
    width: 60%;
    top: 12%;
    left: 20%;
    opacity: 0;
    transition: all 0.2 ease-in-out;
  }

  & .head.open,
  & .body.open,
  & .left-hand.open,
  & .right-hand.open,
  & .left-leg.open,
  & .right-leg.open {
    opacity: 1;
  }
}

h1 {
  margin: 0;

  font-size: clamp(1rem, 3vw, 2rem);

  text-shadow: 2px 2px 0px #000000, 4px 4px 0.3rem rgba(255, 255, 255, 0.5);

  letter-spacing: 0.3rem;
  line-height: 200%;

}

h1::selection {
  background-color: #46727D;
}